.App {
  text-align: center;
}

.cover-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('./assets/images/cover-drum-kit.webp') center center;
  background-size: cover;
  overflow: hidden;
}

.keys {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: .5rem;
  padding: 1rem;
  margin: 1rem;
}